# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/.cxx/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Firebase
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist

# Coverage
coverage/

# Logs
*.log
